.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* ul.topNav li {
    float: left;
    color: rgb(13, 168, 148);
    cursor: pointer;
    margin-left: 10px;
  } */
  
  /* ul.topNav li:hover {color: rgb(1, 255, 221);} */

  
  @media screen and (max-width: 600px) {
    ul.topNav li.right, 
    ul.topNav li {float: none;}
  }
  